@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-slate-100 font-sans;
  }
}

.bg-mesh {
  background-color: #030304;
  background-image:
    radial-gradient(at 0% 0%, rgba(255, 85, 0, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(99, 102, 241, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(255, 85, 0, 0.05) 0px, transparent 50%);
}
